@import './../../style/theme.scss';
// App Module
.App-Module {
    height: 100%;
    .App-Module-Sidebar {
        &.ui.vertical.menu {
            .brand {
                color: #fff;
                font-size: 1.5em;
                font-weight: 200;
                height: 65px;
                padding: 1em 0;
                text-align: center;
            }
            background-color: $theme-background-color-6;
            .item {
                color: $theme-primary-text-color;
                font-weight: 200;
                font-size: 1.1em;
                transition: ease-in-out 200ms;
                &:hover {
                    background-color: $theme-background-color-5;
                    cursor: pointer;
                }
                a {
                    color: $theme-primary-text-color;
                    display: block;
                    padding: .92857143em 1.14285714em;
                    &.--current-page {
                        background-color: $theme-background-color-7;
                        border-left: 3px solid $theme-background-color-2;
                    }
                }
            }
            .App-Module-Sidebar__Bottom {
                bottom: 0;
                position: absolute;
                width: 100%;
            }
        }
    }
    .pusher {
        height: 100%;
        overflow-y: auto;
        width: calc(100% - 150px);
    } //App Content
    .App-Content {
        height: 100%;
        header {
            height: 65px;
            padding: 1em 2em;
            .Module__Title {
                color: $theme-background-color-7;
                display: inline-block;
                font-weight: 300;
                font-size: 1.5em;
                transform: translateY(3px);
            }
            .Module__Action-Button {
                color: #fff;
                font-weight: 400;
                text-transform: uppercase;
                transform: translateY(3px);
                transition: ease-in-out 200ms;
                &:first-of-type {
                    margin-left: 3em;
                }
                &:hover {
                    transform: translateY(1px);
                    background-color: $theme-background-color-3;
                }
            }
            .UserMenu {
                color: $theme-background-color-7;
                float: right;
                font-size: 1.1em;
                font-weight: 300;
                margin-top: 0.5em;
                .menu {
                    border-radius: 0;
                    top: 125%;
                    width: 100%;
                }
            }
        }
        .Module {
            background-color: #f5f5f5;
            min-height: 100%;
            padding: 0 2em 0.5em 2em;
            section {
                padding: 1em 0;
            }
        }
    }
}

// Page not found
.PageNotFound {
    text-align: center;
    section {
        margin-top: 25vh;
        h1 {
            font-size: 7em;
            font-weight: 300;
        }
        h2 {
            font-weight: 300;
        }
    }
}