.App-Module {
  height: 100%; }
  .App-Module .App-Module-Sidebar.ui.vertical.menu {
    background-color: #21354f; }
    .App-Module .App-Module-Sidebar.ui.vertical.menu .brand {
      color: #fff;
      font-size: 1.5em;
      font-weight: 200;
      height: 65px;
      padding: 1em 0;
      text-align: center; }
    .App-Module .App-Module-Sidebar.ui.vertical.menu .item {
      color: #FFF;
      font-weight: 200;
      font-size: 1.1em;
      transition: ease-in-out 200ms; }
      .App-Module .App-Module-Sidebar.ui.vertical.menu .item:hover {
        background-color: #324f78;
        cursor: pointer; }
      .App-Module .App-Module-Sidebar.ui.vertical.menu .item a {
        color: #FFF;
        display: block;
        padding: .92857143em 1.14285714em; }
        .App-Module .App-Module-Sidebar.ui.vertical.menu .item a.--current-page {
          background-color: #132133;
          border-left: 3px solid #1677dc; }
    .App-Module .App-Module-Sidebar.ui.vertical.menu .App-Module-Sidebar__Bottom {
      bottom: 0;
      position: absolute;
      width: 100%; }
  .App-Module .pusher {
    height: 100%;
    overflow-y: auto;
    width: calc(100% - 150px); }
  .App-Module .App-Content {
    height: 100%; }
    .App-Module .App-Content header {
      height: 65px;
      padding: 1em 2em; }
      .App-Module .App-Content header .Module__Title {
        color: #132133;
        display: inline-block;
        font-weight: 300;
        font-size: 1.5em;
        transform: translateY(3px); }
      .App-Module .App-Content header .Module__Action-Button {
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        transform: translateY(3px);
        transition: ease-in-out 200ms; }
        .App-Module .App-Content header .Module__Action-Button:first-of-type {
          margin-left: 3em; }
        .App-Module .App-Content header .Module__Action-Button:hover {
          transform: translateY(1px);
          background-color: #3874c3; }
      .App-Module .App-Content header .UserMenu {
        color: #132133;
        float: right;
        font-size: 1.1em;
        font-weight: 300;
        margin-top: 0.5em; }
        .App-Module .App-Content header .UserMenu .menu {
          border-radius: 0;
          top: 125%;
          width: 100%; }
    .App-Module .App-Content .Module {
      background-color: #f5f5f5;
      min-height: 100%;
      padding: 0 2em 0.5em 2em; }
      .App-Module .App-Content .Module section {
        padding: 1em 0; }

.PageNotFound {
  text-align: center; }
  .PageNotFound section {
    margin-top: 25vh; }
    .PageNotFound section h1 {
      font-size: 7em;
      font-weight: 300; }
    .PageNotFound section h2 {
      font-weight: 300; }
