.Account-Module {
    section {
        margin: 0 auto;
        padding-top: 4em !important;
        width: 50%;
        input {
            border-radius: 0 !important;
        }
        .tab {
            border-radius: 0 !important;
            margin-bottom: 0 !important;
            min-height: 300px;
            padding: 1.5em;
        }
        button {
            border-radius: 0 !important;
            font-weight: 300 !important;
            letter-spacing: 1px;
        }
    }
}