@import './../../style/theme.scss';
.Auth-Module {
    background: $theme-gradient;
    height: 100%;
    padding-top: 20vh;
    .Login-Wrapper {
        height: 310px;
        margin: 0 auto;
        padding: 2em;
        width: 380px;
    }
    h1 {
        color: #fff;
        font-weight: 200;
        text-align: center;
        margin-bottom: 1em;
    }
    form {
        &.ui.form {
            label {
                font-weight: 200;
            }
            input {
                border-radius: 0 !important;
                border: none;
                background-color: rgba(0, 0, 0, 0.3);
                color: #fff;
                text-align: center;
                font-size: 1.3em;

                &:focus {
                    background-color: rgba(0, 0, 0, 0.3);
                    color: #fff;
                }
            }
            button {
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 0;
                color: #000;
                font-size: 1.2em;                
                font-weight: 300;
                letter-spacing: 1px;
                margin-top: 1em;
                padding: 1em;
            }
            .field {
                margin-top: 0.5em;
            }
        }
    }
}