.Auth-Module {
  background: linear-gradient(to right, #2B32B2, #1488CC);
  height: 100%;
  padding-top: 20vh; }
  .Auth-Module .Login-Wrapper {
    height: 310px;
    margin: 0 auto;
    padding: 2em;
    width: 380px; }
  .Auth-Module h1 {
    color: #fff;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1em; }
  .Auth-Module form.ui.form label {
    font-weight: 200; }
  .Auth-Module form.ui.form input {
    border-radius: 0 !important;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    font-size: 1.3em; }
    .Auth-Module form.ui.form input:focus {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff; }
  .Auth-Module form.ui.form button {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0;
    color: #000;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 1em;
    padding: 1em; }
  .Auth-Module form.ui.form .field {
    margin-top: 0.5em; }
