#nprogress .bar {
  background-color: #1677dc;
  height: 6px; }

#nprogress .spinner {
  bottom: 30px;
  right: 40px;
  top: auto; }
  #nprogress .spinner .spinner-icon {
    width: 35px;
    height: 35px; }

.ReactTable {
  border: none; }
  .ReactTable .rt-thead.-header {
    background: transparent;
    border-bottom: none;
    box-shadow: none;
    color: #1f3e67;
    padding: 0.5em 0.5em 0 0; }
    .ReactTable .rt-thead.-header .rt-th {
      border: none;
      text-align: left; }
  .ReactTable .rt-thead.-filters {
    border: none; }
    .ReactTable .rt-thead.-filters .rt-th:first-of-type {
      padding-left: 0; }
    .ReactTable .rt-thead.-filters select {
      height: 100%; }
  .ReactTable .rt-tbody .rt-tr-group {
    background-color: #fff;
    border: solid 1px #f5f5f5;
    padding: 10px; }
    .ReactTable .rt-tbody .rt-tr-group:last-child {
      border-bottom: solid 1px #f5f5f5; }
    .ReactTable .rt-tbody .rt-tr-group:hover {
      box-shadow: 0px 0px 15px 2px #efefef;
      cursor: pointer;
      transform: translateY(-1px); }
    .ReactTable .rt-tbody .rt-tr-group .rt-td {
      border-right: none;
      padding-right: 4em; }
  .ReactTable .-pagination {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: none; }
    .ReactTable .-pagination .-btn {
      color: #fff;
      border-radius: 0;
      background-color: #1677dc; }
      .ReactTable .-pagination .-btn:hover {
        background-color: #3874c3 !important; }

.ui.modal .header {
  font-weight: 400; }

.ui.modal .actions button {
  border-radius: 0;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase; }

.ui.form label {
  font-weight: 400 !important; }

.ui.form input {
  border-radius: 0 !important; }

.ui.form textarea {
  border-radius: 0; }

* {
  font-family: "Work Sans", sans-serif !important; }

.icon {
  font-family: Icons !important; }

body {
  font-family: "Work Sans", sans-serif !important;
  height: 100%;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Work Sans", sans-serif !important; }

#root {
  height: 100%; }

body {
  height: 100%; }
