@import 'theme.scss';
@import 'overrides.scss';
* {
    font-family: $theme-font-family !important
}

.icon {
    font-family: Icons !important;
}

body {
    font-family: $theme-font-family !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $theme-font-family !important;
}

#root {
    height: 100%;
}

body {
    height: 100%;
}