@import 'theme.scss';
// Progress bar
#nprogress {
    .bar {
        background-color: $theme-background-color-2;
        height: 6px;
    }

    .spinner {
        bottom: 30px;
        right: 40px;
        top: auto;

        .spinner-icon {
            width: 35px;
            height: 35px;
        }
    }
}

// ReactTable
.ReactTable {
    border: none;
    .rt-thead {
        &.-header {
            background: transparent;
            border-bottom: none;
            box-shadow: none;
            color: $theme-background-color-4;
            padding: 0.5em 0.5em 0 0;
            .rt-th {
                border: none;
                text-align: left;
            }
        }
        &.-filters {
            border: none;
            .rt-th:first-of-type {
                padding-left: 0;
            }
            select {
                height: 100%;
            }
        }
    }
    .rt-tbody {
        .rt-tr-group {
            background-color: #fff;
            border: solid 1px #f5f5f5;
            padding: 10px;
            &:last-child {
                border-bottom: solid 1px #f5f5f5;
            }
            &:hover {
                box-shadow: 0px 0px 15px 2px #efefef;
                cursor: pointer;
                transform: translateY(-1px);
            }
            .rt-td {
                border-right: none;
                padding-right: 4em;
            }
        }
    }
    .-pagination {
        background-color: #fff;
        border: 1px solid #eee;
        box-shadow: none;
        .-btn {
            color: #fff;
            border-radius: 0;
            background-color: $theme-background-color-2;
            &:hover {
                background-color: $theme-background-color-3 !important;
            }
        }
    }
}

// Ui Modal
.ui.modal {
    .header {
        font-weight: 400;
    }
    .actions {
        button {
            border-radius: 0;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

.ui.form {
    label {
        font-weight: 400 !important;
    }
    input {
        border-radius: 0 !important;
    }
    textarea {
        border-radius: 0;
    }
}