// Colors
$theme-primary-text-color: #FFF;
$theme-background-color:#457fca;
$theme-background-color-2: #1677dc;
$theme-background-color-3: #3874c3;
$theme-background-color-4: #1f3e67;
$theme-background-color-5: #324f78;
$theme-background-color-6: #21354f;
$theme-background-color-7: #132133;
$theme-gradient: linear-gradient(to right, #2B32B2, #1488CC);
$theme-font-family: 'Work Sans',
sans-serif;
// Borders
$theme-border-radius: 2px;
